@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:opsz,wght@14..32,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* the slides */
.slick-slide {
  margin: 0 20px;
}

/* the parent */
.slick-list {
  margin: 0 -20px;
}

.box {
  position: relative;
  width: 540px;
  height: 540px;
  background: #ffa526;
  border-radius: 50%;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  inset: -10px 170px;
  background: linear-gradient(315deg, #fff, transparent);
  animation: animate 8s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  inset: 1px;
  background-color: #ffa526;
  border-radius: 50%;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.wrapper {
  border-top: 1px solid #c0c0c0;
  border-right: 1px dashed #c0c0c0;
  border-left: 1px dashed #c0c0c0;
  border-bottom: 1px dashed #c0c0c0;
}
